<div class="book">
  <%= image_tag book.image_url, class: 'book-image' %>
  <div class="book-info">
    <div class="book-title">
      <h3>Title:</h3>
      <%= book.title %>
    </div>

    <div class="book-description">
      <h3>Description:</h3>
      <%= book.description %>
    </div>
  </div>
</div>
