// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book {

}


ul > {
    li {
      list-style-type: none;
    }
  }
  
  h2 {
    + p {
      border-top: 1px solid gray;
    }
  }
  
  p {
    ~ {
      span {
        opacity: 0.8;
      }
    }
  }
  

.book-image {
  width: 10%;
}

.book-info {
  width: 75%;
  display: inline-block;
  vertical-align: top;
}
