<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <%= link_to "BookStore", root_path, class: 'navbar-brand' %>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
      </form>
    </div>

  </nav>
</header>
